*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'source sans 3', sans-serif;
	font-size: 14px;
	line-height: 1.7em;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'source sans 3', sans-serif;
}
a, a:hover{
	text-decoration: none;
}
.top-header{
	background: #fff;
}
.top-header img{
    margin: 20px;
}
.social-media{
	padding-top: 10px;

}
 
.social-media{
	width: 100%;
	text-align: right;
	color: #fff;
}
.social-media li{
	list-style: none;
	display: inline-block;

}
.social-media li a{
	display: block;
	width: 25px;
}
.header{
	width: 100%;
	padding: 10px 0px;
	background: url("../images/banner.png") center top no-repeat;
	background-size: cover;
	padding-top: 0px;
}
.header .navbar-expand-lg .navbar-nav .nav-link{
	color: #000;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 600;
	margin: 0px 0px 0px 25px
}
.header .navbar-expand-lg .navbar-nav .nav-link:hover, .header .navbar-expand-lg
 .navbar-nav .nav-link:focus{
 	background: url("../images/line.png") center bottom no-repeat;
	background-size: auto;
 }
 .header .navbar-nav .nav-link.active{
 	background: url("../images/line.png") center bottom no-repeat;
	background-size: auto;
 }
 .banner{
 	width: 100%;
 	padding: 180px 0px;
 }
 .banner h4{
	font-size: 22px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.3em;
}
.banner h1{
	font-size: 42px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.3em;
}

.banner .action-buttons{
	width: 100%;
	padding: 40px 0px 0px;
	text-align: center;
}
.banner .action-buttons .btn-primary{
	border-radius: 3px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	background: #c19864;
	border: 1px solid #c19864;
	color: #fff;
	margin: 0px 55px 0px 13px
}
.about-short{
	width: 100%;
	padding: 80px 0px;
}
.about-short .title{
    margin: 70px 0px 20px;
}
.about-short .title h4{
     font-size: 30px;
     font-weight: 400;
}
.about-short p{
	font-size: 14px;
	line-height: 1.7em;
	color: #9a9a9a;
}
/* title global css start here */
.title{
	width: 100%;
}
.title h1{
    font-size: 56px;
    font-weight: 300;
    line-height: 1.2em;
    margin: -93px 0px;
    color: #000;
}
/* title global css start here */
.feature{
	width: 100%;
	padding: 26px 0px;

}
.feature .title{
	text-align: center;
}
.inner-feature{
    width: 100%;
    padding: 25px 55px;
    text-align: center;
}
.inner-feature .icon-box{
	width: 85px;
	height: 85px;
	line-height: 85px;
	border-radius: 100%;
	border: 1px solid #eee;
	background: #c19864;
}
.inner-feature h4{
	font-size: 20px;
	line-height: 1.2em;
	font-weight: 400;
	color: #353535;
}
.inner-feature p{
	font-size: 12px;
	line-height: 1.7em;
	color: #08c;
}
.demo h1 span{
	color: #f13e4b;
}
.demo .title h1{
	padding-top: 56px;
    text-align: center;
    line-height: 1.2em;
    font-weight: 400;
    color: #000000;
}
.demo .card{
	margin-top: 35px;
	border-radius: 12px;
}
.demo .row{
    margin: 55px 86px;
}
.demo p{
	font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}
.demo .action-buttons .btn-primary{
	padding: 10px 10px;
	margin: 0px 0px 0px 65px;
	border-radius: 17px;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #282828;
	border: 1px solid #282828;
	color: #ffffff;
}
.demo .action-buttons .btn-primary:hover{
	background: #08c;
	border: 1px solid #08c;
	color: #fff;
}
.demo .card-body{
	background: #f13e4b;
}	

.Contact-Made h4{
	margin-top: 40px;
	font-size: 26px;
	font-weight: 400;
	text-align: center;
	color: #000;
}
.Contact-Made p{
	font-size: 15px;
	text-align: center;
    font-weight: 400;
    margin: 15px 0px;
	color: #eed786;
}
.Contact-Made img{
	display: flex;
	justify-content: center;
	margin: 0px 10px;
}
.row h4{
	text-align: center;
}
 .Contact .row {
    margin: 55px 86px;
}
p{
	text-align: center;
	font-size: 15px;
}
.feature{
	width: 100%;
	padding: 80px 0px;
}
.feature .inner-feature{
	width: 100%;
	padding: 40px;
	text-align: center;
	background: #F8FFFB;
	border-radius: 10px;
}
.feature .inner-feature img{
	width: 65px;
	height: 85px;
	margin: 0px 0px 20px;
}
.feature .inner-feature h4{
    font-size: 20px;
    font-weight: 900;
    margin: 0px;
}
.feature .inner-feature p{
	font-size: 14px;
	margin: 0px;
}
.feature .inner-feature:hover{
	box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.10);
}
.demo-section {
	background: #091b27;
}
.demo-section h4{
	color: #fff;
	padding-top: 46px;
}
.demo-section p{
	margin-top: 35px;
    font-size: 15px;
    color: #c8c7c8;
}
.inner-language{
	width: 100%;
	margin-top: 35px;

}
.inner-language li a{
	color: #c6c6c8;
	margin-top: 35px;

}
.inner-language li a{
	color: #c6c6c8;
	margin-top: 35px;
}
.inner-language li a{
	margin-top: 35px;
	color: #c6c6c8;
}
.footer{
	width: 100%;
	float: left;
	padding: 25px 0px;
	background: #000;
}
.footer p{
	font-size: 14px;
	line-height: 1.7em;
	text-align: center;
	color: #eee;
}
